@import url(https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap);

$primary: #81899b
$accent: #302e24
$warn: #dfa612

* 
    font-family: 'Arvo', serif
    margin: 0
    padding: 0
    position: relative

a 
    color: var(--font-color)
    text-decoration: none

a:hover
    text-decoration: underline

header
    background-color: hsl(51, 72,86)
    height: 10vh
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 5vh
    padding-right: 5vh

.search-container
    display: flex
    button
        background: none
        border: none
        cursor: pointer
    svg 
        margin-left: 1em

#search-bar.error
    border-color: red
    background-color: rgb(255, 162, 162)

main
    padding: 2em

footer
    display: flex
    justify-content: space-between
    padding: 1em 2em