
@import url(https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap);

$primary: #81899b
$accent: #302e24
$warn: #dfa612

* 
    font-family: 'Arvo', serif
    margin: 0
    padding: 0
    position: relative

a 
    color: var(--font-color)
    text-decoration: none

header
    background-color: hsl(51, 72,86)
    height: 10vh
    display: flex
    align-items: center
    justify-content: space-between
    padding-left: 5vh
    padding-right: 5vh

.search-container
    display: flex
    svg 
        margin-left: 1em

footer
    display: flex
    justify-content: space-between
    padding: 1em 2em